
.div_home {
    background-color: rgb(23, 22, 22);
    color: #eee;
    /* font-size: 25px; */
}

.p_texto { 
    border: 1px solid black;
    text-align: center;
    color: brown;
    font-size: 25px;
    padding-inline-start: 10px;
}

.map_container {
    height: 800px;
    width: 800px;
}
  
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    /* position: absolute; */
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}
  