
.body {
    background-color: #222;
    color: #eee;
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    border: 1px solid black;
    background-color: aqua;
}
.titulo {
    background-color: blueviolet;
    color: #eee;
    text-align: center;
    padding: 4px;
}

.div_1 {
   display: block;
   text-align: center;
   
}

.logo {
    border-radius: 25px;
}